<strong> Olá, {{ student }}</strong>
<p> Sua matrícula foi confirmada!</p>
<p>
  <strong>Plano: </strong> {{ plan }}<br />
  <strong>Data Início: </strong>{{ startDate }}<br />
  <strong>Data Fim: </strong>{{ endDate }}<br />
  <br />
  <small>
    Caso tenha alguma dúvida entre em contato!
  </small>
</p>
